<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gustav.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gustav.Properties.Settings>
            <setting name="BodyColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GunColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RadarColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BulletColor" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="ScanExpiration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxPowerDistance" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MinPower" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="DistanceReductionRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TargettingTolerance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ComparisionTolerance" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="ScanArc" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Logfile" serializeAs="String">
                <value>c:\temp\loyalist.log</value>
            </setting>
            <setting name="RotationReductionRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxFireDistance" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="TurnVelocity" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CombatRange" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="CloseUpRange" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="CloseUpHealthGap" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="StepDistance" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StepDeviate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BorderRange" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ManeuverAngle" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RamHealthGap" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="CloseUpAngle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TargetSpeedAdjust" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="AggressionHealth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LongDistanceSave" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="BattleSave" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TargettingDeviation" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="MaxInactivity" serializeAs="String">
                <value>200</value>
            </setting>
        </Gustav.Properties.Settings>
    </userSettings>
</configuration>